<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube to deepfake</title>
    <link rel="icon" type="image/x-icon" href="Snorre_2.ico">
    <link href="index.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        function formSubmit(e){
            e.preventDefault(); //This will prevent the default click action
        
            var frm = $('#appform');
        
            $.ajax({
                type: frm.attr('method'),
                url: '/download',
                data: frm.serialize(),
                success: function (data) {
                    console.log('Submission was successful.');
                    console.log(data);
                },
                error: function (data) {
                    console.log('An error occurred.');
                    console.log(data);
                }
            });
        }
    </script>
</head>
<body>
    <h1>Youtube to deepfake voice app</h1>
    <form action="#" id="appform" onsubmit="formSubmit(event);" method="POST">
        <p>Input youtube-link here:</p>
        <input id="youtube-link" name="url" type="text" placeholder="youtube.com/watch?v=jNQXAC9IVRw">
        <input type="submit">
        </br>
        <textarea id="voice" name="Deepfake Voice" rows="4" cols="50">
        </textarea>
    </form>
</body>
</html>