body {
    text-align: center !important;
    font-family: sans-serif;
    background-color: #212529 !important;
    color: white !important;
}

#main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}

.formButton {
    width: 197px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    /*background-color: red !important; */
}

.textBox {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-control::placeholder {
    color: #ababab !important; /* change this to your desired color */
}

#progressBar {
    width: 0;
    height: 25px;
    background-color: #fff;
    border-radius: 5px;
}

#submitBtn {
    margin-bottom: 25px;
}

#playBtn {
    margin-right: 25px;
}

#youtubeLink {
 
}