body {
    text-align: center !important;
    font-family: sans-serif;
    background-color: #212529 !important;
    color: white !important;
}

#main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}

.formButton {
    width: 197px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.textBox {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-control::placeholder {
    color: #ababab !important;
}

#progress {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#submitBtn {
    margin-bottom: 25px;
}

#playBtn {
    margin-right: 25px;
}

@media screen and (max-width: 600px) {
    #main {
        width: 100%;
    }
    .textBox {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    #playBtn {
        margin-right: 0;
    }
    #submitBtn {
        margin-bottom: 5px;
    }
}